<div class="header-tabs">
  <ul class="group">
    <li class="tab-item" id="jobslink"><a href="/#">Find Jobs</a></li>
    <li class="tab-item" id="resLink"><a href="/#/resumes">Find Resumes</a></li>
    <li class="tab-item" id="emplink"><a href="/#/hire">Employer Doge? / Post Jobs</a></li>
  </ul>
</div>
