<h1 class="logo">INDOGE</h1>

<form class="search-form group">
  <div class="input">
    <label class="top-label">what</label>
    <br>
    <input type="text" class="what-input" name="what">
    <br>
    <label class="bot-label">very skill, much qualities</label>
  </div>
  <div class="input">
    <label class="top-label">where</label>
    <br>
    <input type="text" class="where-input" name="where" placeholder="location no works good">
    <br>
    <label class="bot-label">such location, wow, so area</label>
  </div>
  <div class="input button">
    <br>
    <button class="find-button">Find Jobs</button>
    <br>
  </div>
</form>
