<form class="search-form group">
  <div class="input">
    <label class="top-label">what</label>
    <br>
    <input type="text" class="what-input">
    <br>
    <label class="bot-label">such job title, very keywords, wow</label>
  </div>
  <div class="input">
    <label class="top-label">where</label>
    <br>
    <input type="text" class="where-input">
    <br>
    <label class="bot-label">much location, so zip code</label>
  </div>
  <div class="input button">
    <br>
    <button class="find-button">Find Jobs</button>
    <br>
  </div>
</form>
