<form class="search-form group">
  <div class="what-bar">
    <label class="top-label">what</label>
    <input type="text" class="what-input">
    <label class="bot-label">such job title, very keywords, wow</label>
  </div>
  <div class="where-bar">
    <label class="top-label">where</label>
    <input type="text" class="where-input">
    <label class="bot-label">much location, wow area</label>
  </div>
  <div class="find-button">
    <button>Find Jobs</button>
  </div>
</form>
