<h1>Sign In</h1>

<h2>Not a member?
  <a href="/#/signup">Create an account!</a>
</h2>

<form>
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br>
  <br>
  <label>Password</label>
  <br>
  <input type="password" name="password">
  <br>
  <br>
  <button>Sign In</button>
</form>

<div>
  <a class="twitter" href="/auth/twitter">Sign in with Twitter!</a>
</div>
