<h1>Sign In</h1>

<h2>Not a member?
  <a href="/#/signup">Create an account!</a>
</h2>

<form>
  <label>Email:
    <input type="text" name="email">
  </label>
  <br>

  <label>Password:
    <input type="password" name="password">
  </label>
  <br>

  <input type="submit" value="Sign In">
</form>
