<h1>All jobs right now, THIS IS ONLY TEMPORARY</h1>
<ul>
  <% @jobs.each do |job| %>
    <li>
      Title: <%=job.title%>
      <br>
      Description: <%= job.description %>
      <br>
      Posted by: <%= job.hoomin.name %>
    </li>
  <% end %>
</ul>
