<header class="group">
  <div class="header-tabs">
    <ul class="group">
      <li class="tab-item"><a href="/#">Find Jobs</a></li>
      <li class="tab-item"><a href="/#/resumes">Find Resumes</a></li>
      <li class="tab-item"><a href="/#/hire">Employer Doge? / Post Jobs</a></li>
    </ul>
  </div>

  <div class="user-tab">
    <ul class="group">
    <% if logged_in? %>
      <li class="tab-item">
        <a href="/#/myprofile"><%=current_user.name%></a>
      </li>
      <li class="tab-item">
        <%= button_to "Sign Out", session_url, method: :delete%>
      </li>
    <% else %>
      <li class="tab-item">
        <a href="<%=new_session_url%>">Sign In</a>
      </li>
    <% end %>
    </ul>
  </div>
</header>
