<h2>Post a Job</h2>

<form>
  <div class="form-inputs">
    <input type="hidden" name="user_id" value="<%=user.id%>">

    <label>Job Title</label>
    <br>
    <input type="text" name="title" value="<%job.escape('title')%>">
    <br>
    <label>Job Description</label>
    <br>
    <textarea name="description"></textarea>
    <br>
  </div>

  <button>Submit</button>
</form>
