<h2>
  <% if (job.isNew()) { %>
    Post a Job
  <% } else { %>
    Edit Job
  <% } %>
</h2>

<form>
  <div class="form-inputs">
    <input type="hidden" name="user_id" value="<%=user.id%>">

    <label>Job Title</label>
    <br>
    <input type="text" name="title" value="<%=job.escape('title')%>">
    <br>

    <label>Salary (treats per week)</label>
    <br>
    <input type="number" name="salary" value="<%=job.escape('salary')%>" min="0">
    <br>

    <label>Job Description</label>
    <br>
    <textarea name="description"><%=job.escape("description")%></textarea>
    <br>
  </div>

  <button>Submit</button>
</form>
