<h1>TEMPORARY JOBS INDEX</h1>
<h2>THESE WILL PROBABLY BE SUBVIEWS LATER ANYWAY</h2>
<ul>
  <% jobs.each(function(job) { %>
    <li>
      <%= job.escape('title') %>: <%= job.escape('description') %>
    </li>

  <% }) %>
</ul>
