<div class="search-bar">
</div>

<div class="main group">
  <div class="sidebar">
    SIDEBAR GOES HERE
  </div>

  <div class="results">
    <% if (jobs.isEmpty()) { %>
      No results found, please try again
    <% } %>
    <ul class='jobs-list'>
    </ul>

    <% if (!jobs.isEmpty()) { %>
      <nav>
        Results Page:
        <% if (jobs.page !== 1) { %>
          <a class="prev-page" href="javascript:void(0)">&#171 Previous</a>
        <% } %>

        <% if (jobs.page !== jobs.numPages) { %>
  	      <a class="next-page" href="javascript:void(0)">Next &#187</a>
        <% } %>
      </nav>
    <% } %>
  </div>
</div>
