<h2>Edit your resume below or upload a new one</a></h2>

<div class="file">
  <form class="pdftest">
    <input type="file" name="resume_pdf" id="resume_post">
    <!-- <input type="submit" value="Upload"> -->
  </form>
</div>

<form class="text">
  <input type="hidden" name="user_id" value="<%=user.id%>">
  <textarea name="text"><%=user.resume().escape('text')%></textarea>
  <label>Set resume to private?</label>
  <input type="checkbox" name="private" value="true">


  <button>Save</button>
</form>
