<h2>Edit your resume below or <a href="javascript:void(0)">upload a new one</a></h2>


<form>
  <input type="hidden" name="user_id" value="<%=user.id%>">
  <textarea name="text"><%=user.resume().escape('text')%></textarea>
  <label>Set resume to private?</label>
  <input type="checkbox" name="private" value="true">


  <button>Save</button>
</form>
