<h2>Edit your resume below or upload a new one</a></h2>

<div class="file">
  <form class="pdftest">
    <input type="file" name="resume_pdf" id="resume_post">
  </form>
</div>

<form class="text">
  <textarea id="text"><%=user.resume().escape('text')%></textarea>
  <label>Who can see your resume?</label>
  <input type="radio" name="private" value="false"> <span>Public</span>
  <br>
  <p class="radio-desc">
    Your resume will be visible to all doges, cats, hoomins, etc. in the search.
  </p>

  <input type="radio" name="private" value="true"> <span>Private</span>
  <br>
  <p class="radio-desc">
    Your resume is not visible in search.
  </p>

  <button>Save</button>
</form>
