<h1>TEMPORARY RESUMES INDEX</h1>
<h2>THESE WILL PROBABLY BE SUBVIEWS LATER ANYWAY</h2>
<ul>
  <% resumes.each(function(resume) { %>
    <li>
      <%= resume.escape('text') %>
    </li>
  <% }) %>
</ul>
