<div class="resume-full">
  <h2 class="owner-name">
    <% if (resume.attributes.poster) { %>
      <%=resume.attributes.poster.name%>
    <% } %>
  </h2>

  <% if (resume.escape("resume_pdf")) { %>
    <embed src="<%=resume.escape('resume_pdf')%>">
  <% } else { %>
    <div class="resume-text">
      <%= resume.escape('text') %>
    </div>
  <% } %>

  <span class=last-updated>
    <%= lastUpdated %>
  </span>
</div>
