/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, ul, li, form, button, a, p {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

ul {
  list-style: none;
}

/*input:focus {
  outline: solid #83bffc;
}*/

.landing .logo {
  font-size: 60px;
  display: block;
  padding: 20px;
}

.logo {
  font-weight: bold;
  color: #3366cc;
}

.landing {
  width: 720px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

.content {
  width: 900px;
  margin: 15px auto;
}
