.new-job-page {
  width: 600px;
  margin: 15px auto;
}

.new-job-page h2 {
  font-size: 22px;
  text-align: left;
  padding: 5px 0;
  border-bottom: 2px solid #99ccff;
}

.new-job-page form {
  margin-top: 15px;
}

.new-job-page form .form-inputs {
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.new-job-page form label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 1px;
}

.new-job-page form input {
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #eee inset;
  padding: 6px;
  margin-bottom: 6px;
}

.new-job-page form textarea {
  width: 490px;
  min-height: 150px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.new-job-page form button {
  text-align: center;
  margin-top: 10px;
  height: 23px;
  font-size: 15px;
  color: white;
  background: #3366cc;
  border: 1px solid #6699ff;
  border-style: outset;
  padding: 4px 9px;
  display: block;
}

.new-job-page form button:hover {
  background: #4477ff;
}
