.new-job-page {
  width: 600px;
  margin: 15px auto;
}

.new-job-page h2 {
  font-size: 22px;
  text-align: left;
  padding: 5px 0;
  border-bottom: 2px solid #99ccff;
}

.new-job-page form {
  margin-top: 15px;
}

.new-job-page form .form-inputs {
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.new-job-page form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1px;
}

.new-job-page form input {
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #eee inset;
  padding: 6px;
  margin-bottom: 6px;
}

.new-job-page form textarea {
  width: 478px;
  min-height: 150px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px;
}

.new-job-page form button {
  text-align: center;
  margin-top: 10px;
  height: 23px;
  font-size: 15px;
  color: white;
  background: #3366cc;
  border: 1px solid #6699ff;
  border-style: outset;
  padding: 4px 9px;
  display: block;
}

.new-job-page form button:hover {
  background: #4477ff;
}

.my-resume-page {
  width: 660px;
  margin: 15px auto;
}

.my-resume-page h2 {
  text-align: center;
  padding: 10px 20px;
  width: 550px;
  margin: 0 35px 15px 35px;
  background: #e0e5ff;
  font-size: 14px;
}

.my-resume-page .file {
  padding: 0 45px;
}

.my-resume-page .text {
  width: 570px;
  padding: 20px 45px;
}

.my-resume-page textarea {
  width: 560px;
  max-width: 560px;
  height: 350px;
  font-size: 14px;
  padding: 8px;
  // margin-bottom: 15px;
}

.my-resume-page label {
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-size: 14px;
}

.my-resume-page span {
  font-size: 14px;
}

.my-resume-page .radio-desc {
  font-size: 13px;
  color: #aaa;
  display: block;
  padding: 4px 0 7px 0;
}

.my-resume-page form button {
  text-align: center;
  margin-top: 10px;
  height: 23px;
  font-size: 15px;
  color: white;
  background: #3366cc;
  border: 1px solid #6699ff;
  border-style: outset;
  padding: 4px 9px;
  display: block;
  border-radius: 10px;
  width: 150px;
}

.my-resume-page form button:hover {
  background: #4477ff;
}
