// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  width: 900px;
  margin: 15px auto;
}

.main .sidebar {
  float: left;
  background: green;
  width: 180px;
  padding: 0 10px;
}

.main .jobs-list {
  float: right;
  width: 700px;
}

.job-tab {
  // border: 1px solid red;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 14px;
}

.job-tab .job-title {
  font-weight: bold;
  font-size: 16px;
}

.job-tab .poster {
  font-size: 15px;
}

.job-tab .job-snippet {

}

.job-tab .time-ago {
  color: gray;
}

.job-tab a.save-link, a.unsave-link {
  color: #7777cc;
}
