.content .profile {
  width: 800px;
  margin: 0 auto;
}
//
// .profile .saved-jobs {
//   margin-bottom: 15px;
// }

.profile .section-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.profile .resume {
  margin-top: 15px;
  position: relative;
}

.profile .resume-text {
  line-height: 1.3;
}

.profile embed {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
  width: 680px;
  height: 880px;
}
