.input {
  float: left;
}

.top-label {
  font-size: 18px;
  font-weight: bold;
  color: #ff6600;
}

.bot-label {
  font-size: 12px;
  color: #aaaaaa;
}

.what-input {
  height: 30px;
  width: 295px;
}

.where-input {
  height: 30px;
  width: 265px;
}

.button {
  text-align: center;
  margin-top: 3px;
}

.find-button {
  height: 30px;
  font-size: 15px;
  color: white;
  background: #3366cc;
  border: 1px solid #6699ff;
  border-style: outset;
  padding: 0 9px;
}

.find-button:hover {
  background: #4477ff;
  cursor: pointer;
}

.search-bar input {
  border: 1px solid #cccccc;
  box-shadow: 1px 1px #aaaaaa;
  height: 30px;
  color: black;
  font-size: 18px;
  padding: 0 6px;
}
