.main .sidebar {
  float: left;
  width: 180px;
  padding: 0 10px;
}

.main .sidebar p {
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}

.main .sidebar .criteria a {
  color: #666;
  font-size: 12px;
}
