<div class="profile group">
  <div class="posted-jobs">
    <h2 class="section-title">My posted jobs</h2>
      <% if (user.postedJobs().isEmpty()) { %>
        You have no posted jobs.
      <% } %>
    <ul class="posted-jobs-list">
    </ul>
  </div>

  <div class="new-job">
    <a href="/#/jobs/new">Post a new job!</a>
  </div>
</div>
