<div class="search-bar">
</div>

<div class="main group">
  <div class="posted-jobs">
    <h2>My posted jobs</h2>
    <ul class="posted-jobs-list">
    </ul>
  </div>

  <div class="new-job">
    <a href="/#/jobs/new">Post a new job!</a>
  </div>
</div>
