<div class="search-bar">
</div>

<div class="profile group">
  <div class="saved-jobs">
    <h2 class="section-title">My saved jobs</h2>
      <% if (user.savedJobs().isEmpty()) { %>
        You have no saved jobs! Search for jobs above.
      <% } %>
    <ul class="saved-jobs-list">

    </ul>
  </div>

  <div class="resume">
    <h2>My resume</h2>
    <br>
    <a href="/#/myresume">Build my resume</a>
    <br>

    <% if (!!user.resume().attributes.resume_pdf) { %>
      <embed src="<%=user.resume().escape('resume_pdf')%>">
    <% } else { %>
      <%= user.resume().escape('text') %>
    <% } %>
  </div>
</div>
